In [1]:
import pandas as pd

hr_data = pd.read_csv('data/data_pegawai_hr_project.csv')

hr_data.head()

,Nama Pegawai,Gender,Tanggal Masuk,Tanggal Resign,Status,Department,Jabatan,Performance (1-5),Jumlah Promosi,Feedback,Kepuasan
0,Steven Reid,Laki-laki,2023-07-05,NaN,Aktif,Finance,Senior Staff,1,2,Terlalu banyak tekanan kerja tanpa apresiasi.,Tidak Puas
1,Sandra Johnson,Laki-laki,2024-03-08,NaN,Aktif,HR,Senior Staff,1,0,Saya sangat senang bekerja di sini.,Puas
2,Cassandra Anderson,Perempuan,2023-08-12,NaN,Aktif,Finance,Manager,5,3,Terlalu banyak tekanan kerja tanpa apresiasi.,Tidak Puas
3,Nicholas Smith,Laki-laki,2020-12-01,NaN,Aktif,IT,Supervisor,2,3,Saya merasa dihargai atas kerja keras saya.,Puas
4,Jennifer Walton,Perempuan,2023-01-07,2024-04-05,Resign,IT,Supervisor,4,0,Lingkungan kerja tidak mendukung perkembangan.,Tidak Puas

In [2]:
hr_data['Tanggal Resign'] = hr_data['Tanggal Resign'].fillna('Still Working')

In [8]:
hr_data['Tanggal Resign'] = pd.to_datetime(hr_data['Tanggal Resign'], errors='coerce')

resign_jan_2022 = hr_data[(hr_data['Tanggal Resign'].dt.year==2024) & (hr_data['Tanggal Resign'].dt.month)== 7]

resign_jan_2022

Empty DataFrame
Columns: [Nama Pegawai, Gender, Tanggal Masuk, Tanggal Resign, Status, Department, Jabatan, Performance (1-5), Jumlah Promosi, Feedback, Kepuasan]
Index: []

In [6]:
hr_data.head()

,Nama Pegawai,Gender,Tanggal Masuk,Tanggal Resign,Status,Department,Jabatan,Performance (1-5),Jumlah Promosi,Feedback,Kepuasan
0,Steven Reid,Laki-laki,2023-07-05,Still Working,Aktif,Finance,Senior Staff,1,2,Terlalu banyak tekanan kerja tanpa apresiasi.,Tidak Puas
1,Sandra Johnson,Laki-laki,2024-03-08,Still Working,Aktif,HR,Senior Staff,1,0,Saya sangat senang bekerja di sini.,Puas
2,Cassandra Anderson,Perempuan,2023-08-12,Still Working,Aktif,Finance,Manager,5,3,Terlalu banyak tekanan kerja tanpa apresiasi.,Tidak Puas
3,Nicholas Smith,Laki-laki,2020-12-01,Still Working,Aktif,IT,Supervisor,2,3,Saya merasa dihargai atas kerja keras saya.,Puas
4,Jennifer Walton,Perempuan,2023-01-07,2024-04-05,Resign,IT,Supervisor,4,0,Lingkungan kerja tidak mendukung perkembangan.,Tidak Puas