In [1]:
import pandas as pd

hr_data = pd.read_csv('data/data_pegawai_hr_project.csv')

hr_data.head()

,Nama Pegawai,Gender,Tanggal Masuk,Tanggal Resign,Status,Department,Jabatan,Performance (1-5),Jumlah Promosi,Feedback
0,Steven Reid,Laki-laki,7/5/2023,NaN,Aktif,Finance,Senior Staff,1,2,Terlalu banyak tekanan kerja tanpa apresiasi.
1,Sandra Johnson,Laki-laki,3/8/2024,NaN,Aktif,HR,Senior Staff,1,0,Saya sangat senang bekerja di sini.
2,Cassandra Anderson,Perempuan,8/12/2023,NaN,Aktif,Finance,Manager,5,3,Terlalu banyak tekanan kerja tanpa apresiasi.
3,Nicholas Smith,Laki-laki,12/1/2020,NaN,Aktif,IT,Supervisor,2,3,Saya merasa dihargai atas kerja keras saya.
4,Jennifer Walton,Perempuan,1/7/2023,4/5/2024,Resign,IT,Supervisor,4,0,Lingkungan kerja tidak mendukung perkembangan.

In [4]:
hr_data['Tanggal Resign'] = hr_data['Tanggal Resign'].fillna('Still Working')

In [5]:
hr_data['Tanggal Resign'] = pd.to_datetime(hr_data['Tanggal Resign'], errors='coerce')

resign_jan_2022 = hr_data[(hr_data['Tanggal Resign'].dt.year==2024) & (hr_data['Tanggal Resign'].dt.month)== 7]

resign_jan_2022

C:\Users\reza\AppData\Local\Temp\ipykernel_7336\2946822834.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  hr_data['Tanggal Resign'] = pd.to_datetime(hr_data['Tanggal Resign'], errors='coerce')

Empty DataFrame
Columns: [Nama Pegawai, Gender, Tanggal Masuk, Tanggal Resign, Status, Department, Jabatan, Performance (1-5), Jumlah Promosi, Feedback, Kepuasan]
Index: []

In [6]:
hr_data.head()

,Nama Pegawai,Gender,Tanggal Masuk,Tanggal Resign,Status,Department,Jabatan,Performance (1-5),Jumlah Promosi,Feedback,Kepuasan
0,Steven Reid,Laki-laki,2023-07-05,Still Working,Aktif,Finance,Senior Staff,1,2,Terlalu banyak tekanan kerja tanpa apresiasi.,Tidak Puas
1,Sandra Johnson,Laki-laki,2024-03-08,Still Working,Aktif,HR,Senior Staff,1,0,Saya sangat senang bekerja di sini.,Puas
2,Cassandra Anderson,Perempuan,2023-08-12,Still Working,Aktif,Finance,Manager,5,3,Terlalu banyak tekanan kerja tanpa apresiasi.,Tidak Puas
3,Nicholas Smith,Laki-laki,2020-12-01,Still Working,Aktif,IT,Supervisor,2,3,Saya merasa dihargai atas kerja keras saya.,Puas
4,Jennifer Walton,Perempuan,2023-01-07,2024-04-05,Resign,IT,Supervisor,4,0,Lingkungan kerja tidak mendukung perkembangan.,Tidak Puas

In [6]:
masuk_bulanan = hr_data['Tanggal Masuk'].groupby(hr_data['Tanggal Masuk'].dt.to_period('M')).count().reindex(bulan_range.to_period('M'), fill_value=0)
masuk_bulanan

AttributeError: Can only use .dt accessor with datetimelike values